:root,
body {
   margin: auto
}

.dark-light-toggle,
.title-header {
   position: absolute;
   top: 0;
   fill: var(--secondary)
}

.emoji,
select {
   cursor: pointer
}

#card-3 .result,
.currency-select:hover,
.result,
.title-header h1 {
   color: var(--secondary)
}

@keyframes blink {

   0%,
   to {
      opacity: 1
   }

   50% {
      opacity: .5
   }
}

@keyframes rotate {
   0% {
      transform: rotate(0)
   }

   to {
      transform: rotate(360deg)
   }
}

@font-face {
   font-family: JetBrainsMono;
   src: url("/JetBrainsMono.ttf")
}

:root {
   font-size: 18pt;
   font-family: JetBrainsMono, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.75;
   font-weight: 400;
   text-align: center;
   width: 60%;
   transition: .1s
}

#currency1,
.flex {
   text-align: justify
}

[data-dark-mode=false] {
   --bg: #f0f1f5;
   --font: #262c27;
   --main: #d7dde4;
   --secondary: #0092cc;
   --highlight: #97e2ff;
   transition: background-color .15s
}

[data-dark-mode=true] {
   --bg: #0B0C10;
   --font: #D3D9D4;
   --main: #272f35;
   --secondary: #66FCF1;
   --highlight: #124E66;
   transition: background-color .5s
}

.currency-box input,
body {
   display: flex;
   flex-direction: column
}

body {
   color: var(--font);
   background-color: var(--bg);
   min-width: 320px;
   min-height: 100vh;
   flex-wrap: nowrap;
   justify-content: space-evenly
}

#card-3 {
   background: var(--highlight)
}

input,
select {
   padding: 10px;
   border: 0
}

select {
   list-style-type: none;
   margin: 0;
   appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none
}

h1,
h2,
h4,
h5,
h6 {
   margin: 0;
   padding: 0
}

h1 {
   font-size: 36pt
}

h3 {
   margin: -27px 0 0;
   padding: 6px
}

h6 {
   font-size: 11pt
}

.input-select-container {
   display: flex;
   border: 2px solid #ccc;
   border-radius: 5px;
   overflow: hidden
}

input {
   font-size: 16px;
   outline: 0;
   width: 320px
}

.title-header {
   left: 0;
   margin-left: 48px;
   margin-top: 48px
}

.container h3,
.title-header h1 {
   -webkit-user-select: none;
   user-select: none
}

.emoji,
.funfact {
   -webkit-user-select: none;
   user-select: none;
}

.icon-container {
   transition: .5s
}

.currency-box input {
   justify-content: space-between;
   font-size: 26pt;
   height: 60px;
   font-family: JetBrainsMono
}

.currency-box span:first-child input {
   background-color: rgba(0, 0, 0, .15);
   color: var(--font);
   border-radius: 16px 0 0
}

.currency-box span:nth-child(2) input {
   background-color: rgba(0, 0, 0, .3);
   color: var(--font);
   border-radius: 0 0 0 16px
}

.currency-box span:first-child select {
   background-color: rgba(0, 0, 0, .25);
   color: var(--font);
   border-radius: 0 16px 0 0
}

.currency-box span:nth-child(2) select {
   background-color: rgba(0, 0, 0, .4);
   color: var(--font);
   border-radius: 0 0 16px
}

.currency-span {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content: center
}

.currency-span input {
   text-align: left
}

.blinking {
   animation: 1s ease-in-out 3 blink
}

input::placeholder {
   color: var(--font);
   opacity: .4
}

.dark-light-toggle {
   width: 42px;
   height: 42px;
   right: 0;
   cursor: pointer;
   margin: 64px
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   gap: .6rem
}

section {
   display: grid;
   background: var(--main);
   border-radius: 16px;
   align-content: center;
   box-shadow: 0 1px 15px rgba(0, 0, 0, .08);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   transition: .3s
}

section:hover {
   filter: brightness(1.05);
   transition: .3s
}

.diagram {
   width: 95%;
   height: 610px;
   margin: auto
}

.emoji {
   font-size: 100pt;
   user-select: none;
   display: inline-block;
   transition: 1s;
   animation: 20s linear infinite forwards rotate
}

.emoji:hover {
   filter: saturate(2)
}

.flex {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column
}

.line-height-small {
   line-height: 1.4;
   font-size: 17pt
}

.trend {
   margin: 0 48px;
   font-size: 22pt;
   text-align: center
}

.funfact {
   line-height: 1.4;
   padding-left: 64px;
   padding-right: 64px;
   font-size: 16pt;
   font-style: italic;
   user-select: none
}

.rising {
   color: #19d00b
}

.dropping {
   color: #b00
}

.highest {
   line-height: 1.5
}

.width-full {
   grid-column: span 4
}

.width-half {
   grid-column: span 2
}

.width-quarter {
   grid-column: span 1
}

.currency-select {
   border: 0;
   border-radius: 4px;
   font-family: JetBrainsMono;
   font-size: 14pt;
   -webkit-user-select: none;
   user-select: none;
   outline: 0
}

.currency-select:hover {
   background-color: var(--highlight) !important
}

.currency-select,
.currency-select option {
   background-color: #2a2d34;
   color: #f0f0f0;
   padding: 10px
}

.currency-box input:active {
   background-color: var(--highlight)
}

@media (max-width:2265px) {
   :root {
      font-size: 15pt
   }

   .top-card h4,
   .trend {
      font-size: 16pt
   }

   input {
      font-size: 21pt !important;
      padding-left: 21px
   }

   .funfact,
   .top-card h5 {
      font-size: 14pt
   }

   .title-header h1 {
      font-size: 28pt;
      left: 30px
   }
}

@media (max-width:2084px) {
   .icon-container svg {
      margin: 64px 48 0 0
   }

   .top-card h4 {
      font-size: 13pt
   }

   .top-card h5 {
      font-size: 12pt
   }

   .funfact {
      font-size: 16pt
   }
}

@media (max-width:1770px) {
   #card-1 {
      order: 1;
      height: 530px !important
   }

   #card-2 {
      order: 2
   }

   #card-3 {
      order: 3
   }

   #card-4 {
      order: 4
   }

   #card-5 {
      order: 5
   }

   #card-6 {
      order: 6
   }

   #card-7 {
      order: 7
   }

   .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center
   }

   .icon-container svg,
   .title-header {
      margin: 0 !important;
      position: relative
   }

   .dark-light-toggle {
      width: 36px;
      height: 34px
   }

   h1 {
      font-size: 28pt;
      padding-bottom: 16px
   }

   :root {
      font-size: 20pt;
      margin-bottom: 32px;
      margin-top: 16px
   }

   .trend {
      font-size: 24pt
   }

   input {
      font-size: 22pt !important;
      padding-left: 21px
   }

   .mobile-full {
      grid-column: span 2
   }

   .mobile-half {
      grid-column: span 1
   }

   .container {
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: auto
   }

   .funfact {
      margin: 0;
      font-size: 20pt
   }

   .diagram {
      height: 455px
   }

   h3 {
      margin-top: 0
   }

   .top-card h4,
   .top-card h5 {
      font-size: 18pt
   }
}

@media (max-width:1330px) {
   :root {
      margin-bottom: 64px;
      font-size: 18pt
   }

   .mobile-full {
      grid-column: span 2
   }

   .mobile-half {
      grid-column: span 1
   }

   h1 {
      font-size: 28pt;
      padding-bottom: 16px
   }

   .funfact {
      padding-left: 128px;
      padding-right: 128px;
      font-size: clamp(.9rem, 2vw, 2rem)
   }

   .top-card h4 {
      font-size: 20pt
   }

   .top-card h5 {
      font-size: 17pt
   }

   .trend {
      font-size: clamp(1.3rem, 2.2vw, 2.5rem)
   }

   body {
      margin: 16px
   }

   .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center
   }

   .icon-container svg,
   .title-header {
      margin: 0 !important;
      position: relative
   }

   .dark-light-toggle {
      width: 36px;
      height: 34px
   }

   :root {
      width: 100%;
      margin-top: 0;
      font-size: clamp(1.8rem, 2.6vw, 3rem)
   }

   .diagram {
      height: 450px
   }

   .container h3 {
      padding: 0
   }
}

@media (max-width:1024px) {
   .funfact {
      padding-left: 48px;
      padding-right: 48px;
      font-size: clamp(.9rem, 2.2vw, 2.5rem)
   }
}

@media (max-width:768px) {
   :root {
      width: 100%;
      font-size: clamp(1.2rem, 3.5vw, 4rem)
   }

   h6 {
      font-size: clamp(.7rem, 2.2vw, 2.5rem)
   }

   .container {
      grid-template-rows: auto
   }

   .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center
   }

   .icon-container svg,
   .title-header {
      margin: 0 !important;
      position: relative
   }

   .dark-light-toggle {
      width: 36px;
      height: 34px
   }

   h1 {
      font-size: 28pt;
      padding-bottom: 16px
   }

   input,
   select {
      font-size: 14px
   }

   .top-card h4,
   .top-card h5 {
      font-size: 11pt
   }

   .funfact {
      font-size: clamp(1.1rem, 2.2vw, 2.5rem)
   }

   .trend {
      font-size: clamp(1rem, 3vw, 3rem)
   }
}

@media (max-width:480px) {
   :root {
      width: 100%;
      font-size: 20pt
   }

   h1 {
      padding-bottom: 16px
   }

   .top-card h4,
   .top-card h5 {
      font-size: 16pt
   }

   select {
      font-size: 12px;
      padding: 0 0 0 12px;
      width: 140px
   }

   .container {
      grid-template-rows: auto;
      grid-template-columns: repeat(2, 1fr) !important
   }

   .container h3,
   h1 {
      font-size: 18pt
   }

   .dark-light-toggle {
      width: 41px;
      height: 27px
   }

   #card-1,
   #card-2,
   #card-3,
   #card-4,
   #card-5,
   #card-6,
   #card-7 {
      grid-column: span 2 !important
   }

   .funfact {
      padding-left: 33px;
      padding-right: 33px;
      font-size: clamp(.65rem, 66%, 3rem)
   }

   .emoji {
      font-size: 92pt
   }

   input,
   select {
      border-radius: 0 !important
   }

   input {
      width: 100%;
      font-size: 16pt !important;
      padding-left: 18px
   }

   .icon-container svg,
   .title-header {
      margin: 0 !important;
      position: relative
   }

   .trend {
      font-size: 23pt
   }

   #card-1 {
      height: 420px !important
   }

   .diagram {
      height: 350px
   }
}

@media (max-width:352px) {
   body {
      margin: 0
   }

   .title-header,
   .title-header h1 {
      padding: 0 !important;
      margin: 0 !important
   }

   .title-header h1 {
      font-size: 18pt
   }

   .nav-bar {
      margin: 16px
   }

   .funfact {
      font-size: clamp(.5rem, 2.2vw, 2.5rem)
   }
}