@font-face {
   font-family: 'Archivo';
   src: url("/Archivo.ttf");
}

:root {
   font-size: 18pt;
   font-family: Archivo, system-ui, Avenir, Helvetica, Arial, sans-serif;
   line-height: 1.75;
   font-weight: 400;

   margin: auto;
   text-align: center;
   width: 60%;

}


/*
https://www.realtimecolors.com/?colors=262c27-f0f1f5-cad2d8-039b91-97d4ed&fonts=Inter-Inter

:root[data-theme="light"] {
  --text: #262c27;
  --background: #f0f1f5;
  --primary: #cad2d8;
  --secondary: #039b91;
  --accent: #97d4ed;
}
:root[data-theme="dark"] {
  --text: #d3d9d4;
  --background: #0a0b0f;
  --primary: #272f35;
  --secondary: #64fcf2;
  --accent: #125068;
}
*/


[data-dark-mode="false"] {
   --bg: #D3D9D4;
   --main: #9fa7a6;
   --secondary: #2E3944;
   --ternary: #748D92;
   --font: #2E3944;
   --panel: #518b98;
   --highlight-font: #ffffff;
   --highlight: #124E66;
   --highlight-neon: #67c1bb;

   transition: background-color 0.15s;
}

[data-dark-mode="true"] {
   --bg: #0B0C10;
   --main: #272f35;
   --secondary: #2E3944;
   --ternary: #748D92;
   --font: #D3D9D4;
   --panel: #52748e;
   --highlight-font: #66FCF1;
   --highlight: #124E66;
   --highlight-neon: #66FCF1;

   transition: background-color 0.5s;
}

body {
   color: var(--font);
   background-color: var(--bg);
   margin: auto;
   min-width: 320px;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   justify-content: space-evenly;
   margin-top: 16px;
   margin-bottom: 64px;
}

ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
}

h1 {
   font-size: 36pt;
}

h3 {
   margin-top: -27px;
   padding: 6px;
}

h6 {
   font-size: 11pt;
}







.input-select-container {
   display: flex;
   /* Flexbox für nebeneinander liegende Elemente */
   border: 2px solid #ccc;
   /* Rahmen für den Container */
   border-radius: 5px;
   /* Abgerundete Ecken */
   overflow: hidden;
   /* Verhindert, dass die Ecken des Inputs und des Selects überstehen */
}

input {
   padding: 10px;
   /* Innenabstand für das Input-Feld */
   border: none;
   /* Rahmen des Input-Feldes entfernen */
   font-size: 16px;
   /* Schriftgröße */
   outline: none;
   /* Standard-Außenrahmen entfernen */
}

select {
   padding: 10px;
   border: none;
   cursor: pointer;
}







.title-header {

   position: absolute;
   top: 0px;
   left: 0px;
   margin-left: 96px;
   margin-top: 48px;
   fill: var(--highlight-neon);

}

.icon-container {
   transition: all 0.5s;
}

.currency-box input {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   font-size: 26pt;
   height: 58px;
   border-radius: 16px 0 0 16px;
}

.currency-box span:nth-child(1) select {
   /* Deine Stile für das zweite Input-Feld */
   background-color: rgb(227, 227, 227);
}

.currency-box span:nth-child(2) input {
   /* Deine Stile für das zweite Input-Feld */
   background-color: var(--font);
   /* Beispiel: Hintergrundfarbe */
   color: var(--highlight);
}

.currency-box span:nth-child(2) select {
   /* Deine Stile für das zweite Input-Feld */
   background-color: rgb(178, 178, 178);
   /* Beispiel: Hintergrundfarbe */
   color: var(--bg);
}

.currency-box select {
   border-radius: 0 16px 16px 0;
}

.currency-span {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
}

.currency-span input {
   text-align: center;
}

.dark-light-toggle {
   position: absolute;
   width: 42px;
   height: 42px;
   top: 0px;
   right: 0px;
   cursor: pointer;
   margin: 64px;
   fill: var(--highlight-neon);
}

.container {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto auto;
   grid-column-gap: 0.6rem;
   grid-row-gap: 0.6rem;
}

#currency1 {
   text-align: justify;
}

.currency-select {
   font-family: monospace;
   font-size: 14pt;
   -webkit-user-select: none;
   user-select: none;
}


section {
   display: grid;
   /*margin: 6px;*/
   background: var(--main);
   border-radius: 16px;
   /*height: 300px;*/
   align-content: center;

   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   transition: all 0.3s;
}

section:hover {
   filter: brightness(1.05);
   transition: all 0.3s;
}

.result {
   color: var(--highlight-font);
}

.top-card {
   padding: 12px;
}

.diagram {
   width: 93%;
   height: 680px;
   margin: auto;
   /*padding-bottom: 100px;*/

}

.emoji {
   font-size: 100pt;
   -webkit-user-select: none;
   user-select: none;
}

.flex {
   display: flex;
   text-align: justify;
   align-items: center;
   justify-content: center;
}

.line-height-small {
   line-height: 1.4;
   font-size: 17pt;
}

.funfact {
   line-height: 1.4;
   padding: 64px;
   font-size: 17pt;
   font-style: italic;

   -webkit-user-select: none;
   user-select: none;
}